body {
    margin: 0;
    background-color: #1B244A;
    font-family: "Orbitron", sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 40px;
    margin-top: 20px;
}

.bottom {
    text-align: center;
    margin-top: 26px;
}

h3 {
    color: white;
}

h1 {
    color: #F94F6D;
    border: solid 2px black;
    border-radius: 8px;
    background-color: black;
    padding: 15px 40px; /* even spacing */
    display: inline-block; /* so it sizes properly */
}

button {
    padding: 10px 16px;
    background-color: transparent;
    border: solid 2px #9AABD8;
    border-radius: 4px;
    color: #9AABD8;
    cursor: pointer;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}
